<div class="sidebar" [ngClass]="{ 'showSidebar': isSidebarVisible, 'hideSidebar': !isSidebarVisible }" [@fadeInOut]>
    <ul>
        <li>
            <!--  <a routerLinkActive="active" (click)="toggleSubmenu()">
            <span class="menu-icon material-icons">dashboard</span>
            <span class="menu-text">Dashboard</span>
            <span class="sub-menu-icon" [ngClass]="{ 'sub-menu-open': isSubmenuOpen }">
                <mat-icon>{{ isSubmenuOpen ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
            </span>
        </a> -->
            <!-- Sub-menu for Dashboard with left padding -->
            <!--   <ul *ngIf="isSubmenuOpen" class="sub-menu">
            <li>
                <a routerLink="/dashboard" routerLinkActive="active">
                    <span class="menu-icon material-icons">details</span>
                    <span class="menu-text">Details</span>
                </a>
            </li>
            <li>
                <a routerLink="/dashboard/messages" routerLinkActive="active">
                    <span class="menu-icon material-icons">message</span>
                    <span class="menu-text">Messages</span>
                </a>
            </li>
        </ul> -->
        </li>
        <li>
            <a routerLink="/HomePage" routerLinkActive="active">
                <span class="menu-icon material-icons">home</span>
                <span class="menu-text">Home</span>
            </a>
        </li>
        <li>
            <a routerLink="/Dashboard" *ngIf="login" routerLinkActive="active">
                <span class="menu-icon material-icons">dashboard</span>
                <span class="menu-text">Dashboard</span>
            </a>
        </li>
        <li>
            <a routerLink="/DepartmentList" *ngIf="login"  routerLinkActive="active">
                <span class="menu-icon material-icons">label</span>
                <span class="menu-text">Department</span>
            </a>
        </li>
        <li>
            <a routerLink="/DoctorList"*ngIf="login"  routerLinkActive="active">
                <span class="menu-icon material-icons">label</span>
                <span class="menu-text">Doctor</span>
            </a>
        </li>
        <li>
            <a routerLink="/PatientList" *ngIf="login"  routerLinkActive="active">
                <span class="menu-icon material-icons">label</span>
                <span class="menu-text">Patient</span>
            </a>
        </li>
        <li>
            <a routerLink="/WardList"*ngIf="login"  routerLinkActive="active">
                <span class="menu-icon material-icons">label</span>
                <span class="menu-text">Ward</span>
            </a>
        </li>
        <li>
            <a routerLink="/NurseList" *ngIf="login"  routerLinkActive="active">
                <span class="menu-icon material-icons">label</span>
                <span class="menu-text">Nurse</span>
            </a>
        </li>
        <li>
            <a routerLink="/AppointmentList"*ngIf="login"  routerLinkActive="active">
                <span class="menu-icon material-icons">label</span>
                <span class="menu-text">Appointment</span>
            </a>
        </li>
        <li>
            <a routerLink="/EmergencyList"*ngIf="login"  routerLinkActive="active">
                <span class="menu-icon material-icons">label</span>
                <span class="menu-text">Emergency</span>
            </a>
        </li>
        <li>
            <a routerLink="/AdmissionList" *ngIf="login" routerLinkActive="active">
                <span class="menu-icon material-icons">label</span>
                <span class="menu-text">Admission</span>
            </a>
        </li>
        <li>
            <a routerLink="/DischargeList" *ngIf="login" routerLinkActive="active">
                <span class="menu-icon material-icons">label</span>
                <span class="menu-text">Discharge</span>
            </a>
        </li>
        <li>
            <a routerLink="/SupplierList"*ngIf="login"  routerLinkActive="active">
                <span class="menu-icon material-icons">label</span>
                <span class="menu-text">Supplier</span>
            </a>
        </li>
        <li>
            <a routerLink="/StaffList" *ngIf="login" routerLinkActive="active">
                <span class="menu-icon material-icons">label</span>
                <span class="menu-text">Staff</span>
            </a>
        </li>
        <li>
            <a routerLink="/BillingList" *ngIf="login" routerLinkActive="active">
                <span class="menu-icon material-icons">label</span>
                <span class="menu-text">Billing</span>
            </a>
        </li>
        <li>
            <a routerLink="/TransactionList"*ngIf="login"  routerLinkActive="active">
                <span class="menu-icon material-icons">label</span>
                <span class="menu-text">Transaction</span>
            </a>
        </li>











        <!--  <li>
        <a routerLink="/settings" routerLinkActive="active">
            <span class="menu-icon material-icons">settings</span>
            <span class="menu-text">Setting</span>
        </a>
    </li>  -->


    </ul>
</div>
